.match-list-item {
	--duration: 0.25s;
	position: relative;
	border-bottom: thin solid rgba(139, 51, 255, 0.12);
	z-index: 1;
	transition: background-color var(--duration) ease-in-out;

	&:first-child {
		border-top: thin solid rgba(139, 51, 255, 0.12);
	}

	&:hover {
		cursor: pointer;
		background-color: rgba(139, 51, 255, 0.12);
		&:before {
			height: 50%;
		}
		&:after {
			height: 50%;
		}
	}

	&:before {
		content: "";
		position: absolute;
		background-color: #6e00ff;
		top: 50%;
		left: 0;
		width: 2px;
		height: 0;
		transition: height var(--duration) ease-in-out;
	}

	&:after {
		content: "";
		position: absolute;
		background-color: #6e00ff;
		bottom: 50%;
		left: 0;
		width: 2px;
		height: 0;
		transition: height var(--duration) ease-in-out;
	}
}
