.dashboard-sidebar {
	height: auto;
	margin-left: 0;
	transition: margin-left 0.3s ease-in-out;
	max-height: 9999999px;
}

.dashboard-sidebar.hidden {
	margin-left: -260px;
	max-height: 0px;
	overflow: hidden;
	transition: margin-left 0.3s ease-in-out, max-height 0s 0.3s, padding-left 0.3s ease-in-out,
		padding-top 0s 0.3s, padding-bottom 0s 0.3s;
}
